<nav class="fluid navbar navbar-expand-lg navbar-dark bg-dark p-0">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('adminlogin')}}"><i class="fa fa-home"></i>Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li>
                    <a href="{{url_for('view')}}" class="nav-link">
                        <i class="fa fa-milk"></i>view cows
                    </a>
                </li>


            </ul>

        </div>
    </div>
</nav>