<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="#">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/public/static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/public/style/app.css" />
    <link rel="stylesheet" href="/public/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/fontawesome/css/all.css" />
    <link rel="stylesheet" href="/public/fontawesome/css/fontawesome.css" />
    <!-- <link rel="stylesheet" href="/public/static/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/public/static/bootstrap2.min.css">
    <link rel="stylesheet" href="/public/font-awesome-animation/css/font-awesome-animation.css" />
    <script src="/public/fontawesome/js/all.js"></script>
    <script src="/public/static/js/jquery.slim.min.js"></script>
    <script src="/public/static/js/popper.min.js"></script>
    <script src="/public/static/js/bootstrap.min.js"></script>
    <script src="/public/static/bootstrap/js/bootstrap.js"></script>
    <!-- for phone numbers -->
    <script src="/public/static/js/utils2.js"></script>
    <script src="/public/static/js/telinputs.js"></script>
    <script src="/public/static/js/itlinputs.min.js"></script>
    <link rel="stylesheet" href="/public/static/itlinput.css">

    <!-- date picker -->

</head>

<title>Dairy Manangement System</title>