{% include 'headers/headers.html' %}{% if 'admin' in session %} {% include 'headers/adminnav.html' %} {% elif 'superadmin' in session %} {% include 'headers/adminnav.html' %}{% elif 'manager' in session %} {% include 'headers/adminnav.html' %} {% endif
%}


<!--NAVIGATION BAR FOR ADMIN-->


<header id="main-header" class="container mt-5  bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center"><i class="fa fa-users"></i>Admins</h1>
            </div>
        </div>
    </div>
</header>

<section id="actions" class="py-4 mb-4">
    <div class="container">
        <div class="col-md-6">


            <form action="{{url_for('search_users')}}" method="POST">
                <input name="flag" id="" value="admins" type="text" hidden>
                <div class="input-group">
                    <input name="search" id="search" type="text" class="form-control" placeholder="Search User by First Name, Last Name, username, E-mail" required>
                    <span class="input-group-btn">
                            <input type="submit" value="search" class="btn btn-primary btn-block">
                        </span>
                </div>
            </form>

        </div>
    </div>
</section>

<!-- USERS -->
<section>
    <div onLoad="JavaScript:timeRefresh(60000);" class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div id="dvContainer">

                        <div class="text-center"> {% with messages = get_flashed_messages(with_categories=true) %} {% for category, message in messages %}
                            <div class="{{ category }}">{{ message }}</div>
                            {% endfor %} {%endwith%} </div>
                        <table class="table table-striped">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>Name</th>
                                    <th>User name</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>role</th>
                                    <th>staff id</th>
                                    <th>phone number</th>
                                    {% if 'superadmin' in session %}
                                    <th></th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>

                                {% for admin in admin.items %}


                                <tr>
                                    <td>{{admin.first_name }} {{admin.last_name}}</td>
                                    <td>{{admin.username}}</td>
                                    <td><a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to={{admin.email}}">{{admin.email }}</a></td>
                                    <td>{{admin.gender}}</td>
                                    <td>
                                        {% if admin.role == 'milk admin' %} milk staff {%elif admin.role == 'feeds admin'%} feeds staff {% elif admin.role == 'calving admin'%} calving staff {% elif admin.role == 'health admin'%} health staff {% elif admin.role == 'cow info admin'%} cow info
                                        staff {% endif %}
                                    </td>
                                    <td>{{admin.staff_id}}</td>
                                    <td>{{admin.phone_number}}</td>
                                    {% if 'superadmin' in session or 'manager' in session %}
                                    <td>
                                        <a href="#" id="{{admin.national_id}}" class="btn btn-primary btn-block" onclick="myFunctions(this.id)" data-target="#updatedetailsmodal" data-toggle="modal">update</a>
                                    </td>
                                    {% endif %}
                                </tr>


                                {% endfor %}

                            </tbody>

                        </table>
                        <div class="col-md-12 card">
                            <nav class="mx-auto mb-2 text-center">
                                <ul class="pagination">
                                    {% if admin.has_prev %}
                                    <li class="page-item">
                                        <a href="{{url_for('update_admin_details',page=admin.prev_num)}}">Previous</a>
                                    </li>
                                    {% endif %}
                                    <!-- all page numbers -->
                                    {% for page_num in admin.iter_pages() %} {% if page_num %} {% if page_num != admin.page %}
                                    <li class="page-item">
                                        <a href="{{url_for('update_admin_details',page=page_num)}}">{{page_num}}</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item">
                                        <a class="active" href="#">{{ page_num }}</a>
                                    </li>
                                    {% endif %} {% else %}
                                    <li class="page-item">
                                        <span class="ellipsis" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis">…</span>
                                    </li>
                                    {% endif %} {% endfor %}
                                    <!-- next page -->
                                    {% if admin.has_next %}
                                    <li class="page-item">
                                        <a href="{{ url_for('update_admin_details', page=admin.next_num)}}">Next</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="updatedetailsmodal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center text-white bg-primary">
                <h3 class="modal-title" id="updatedetailslabel">update <span id="username" class=""></span> details</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('update_admin_details')}}" method="POST">
                    <div class="form-group">
                        <label class="form-control-label">first name</label>
                        <input type="text" pattern="[A-Za-z\\s]*" class="form-control" name="first_name" id="first_name" placeholder="first name">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">last name</label>
                        <input type="text" pattern="[A-Za-z\\s]*" class="form-control" name="last_name" id="last_name" placeholder="last name">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">other name</label>
                        <input type="text" pattern="[A-Za-z\\s]*" class="form-control" name="other_names" id="other_names" placeholder="other names">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">phone number</label>
                        <input type="tel" maxlength="10" id="phone" class="form-control w-100" name="phone_number">
                        <p class="hide" id="result"></p>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">email address</label>
                        <input type="email" class="form-control" id="email" name="email_address" placeholder="email address">
                    </div>
                    <div class="form-group" hidden>
                        <label class="form-control-label">national_id</label>
                        <input type="text" class="form-control" id="national_id" name="admin_national_id">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">staff id</label>
                        <input type="text" class="form-control" id="staff_id" name="staff_id">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    var input = document.querySelector("#phone"),
        errorMsg = document.querySelector("#result"),
        validMsg = document.querySelector("#result");

    // here, the index maps to the error code returned from getValidationError - see readme
    var errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];

    // initialise plugin
    var iti = window.intlTelInput(input, {
        utilsScript: "/public/static/js/utils.js",
        initialCountry: "ke",
    });

    var reset = function() {
        input.classList.remove("error");
        errorMsg.innerHTML = "";
        errorMsg.classList.add("hide");
        validMsg.classList.add("hide");
    };

    // on blur: validate
    input.addEventListener('blur', function() {
        reset();
        if (input.value.trim()) {
            if (iti.isValidNumber()) {
                validMsg.classList.remove("hide");
            } else {
                input.classList.add("error");
                var errorCode = iti.getValidationError();
                errorMsg.innerHTML = errorMap[errorCode];
                errorMsg.classList.remove("hide");


            }
        }
    });
</script>
<script>
    function myFunctions(username) {




        const url = location.protocol + '//' + location.host + '/admin_s';
        (fetch(url).then(response => response.json()).then(json => {
            one(JSON.parse(json), username)
        }));
    }

    function one(data, username) {
        for (let i = 0; i < data.length; i++) {


            if (username == data[i].national_id) {
                two(data[i]);





                break;

            }



        }
    }

    function two(k) {


        var firstname = document.querySelector('#first_name');
        var lastname = document.querySelector('#last_name');
        var othernames = document.querySelector('#other_names');
        var phone = document.querySelector('#phone');
        var email = document.querySelector('#email');
        var nationalid = document.querySelector('#national_id');
        var staffid = document.querySelector('#staff_id');
        var username = document.querySelector('#username');
        $('#username').html(k.username + "\'s").css('color', 'white');


        firstname.value = k.first_name;
        lastname.value = k.last_name;
        othernames.value = k.other_names;
        phone.value = k.phone_number;
        email.value = k.email;
        nationalid.value = k.national_id;
        staffid.value = k.staff_id;
    }
</script>

<script src="/public/static/jquery3.min.js"></script>
<!-- Bootstrap JS -->
<script src="/public/static/bootstrap3.min.js"></script>


{% include 'headers/footers.html' %}