{% include 'headers/headers.html' %} {% include 'headers/adminnav.html' %}

<body class="bg-dark container-fluid" style="background-image: url('/public/static/images/cow.jpg'); background-size:cover ;height: 100%;background-position: center; background-blend-mode: overlay; background-repeat: no-repeat;height:100vh;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 responsive">
                <div class="text-center">
                    <h1>DAIRY FARM MANAGEMENT</h1>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="card-title text-center">
                            <h2>FILL COWS INFO</h2>
                        </div>
                    </div>
                    <div class="text-center"> {% with messages = get_flashed_messages(with_categories=true) %} {% for category, message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                        {% endfor %} {%endwith%} </div>
                    <div class="card-body">
                        <form action="{{url_for('cowinfo')}}" enctype="multipart/form-data" method="post">

                            <div class="form-group ">
                                <label class="form-control-label">cow_tag_id</label>
                                <input type="string" class="form-control" name="cow_tag_id" placeholder="cow_tag id" required>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="cow_breed">cow breed</label>
                                <select name="cow_breed" class="form-control" id="" required>
                                    <option value=""> select breed</option>
                                    {% for item in breed  %}
                                        <option value="{{item.breed}}">{{item.breed}}</option>
                                        {% endfor %}
                                </select>
                            </div>


                            <div class="form-group">
                                <label class="form-control-label">date of birth</label>
                                <div class='input-group date' id='datetimepicker2'>
                                    <input name="date_of_birth" type='text' id="date" class="form-control" readonly="readonly" />
                                    <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-calendar"></span>
                                    </span>

                                </div>
                                <span id="message1"></span>
                                <div class="form-group">
                                    <label class="form-control-label">weight</label>
                                    <input type="number" min="1" class="form-control" placeholder="weight" name="weight" required>
                                </div>



                                <div class="form-group ">
                                    <label class="form-control-label">sex</label>
                                    <select name="gender" class="form-control" required>                                    
                                    <option  selected>select</option>
                                    <option value="male">male</option>
                                    <option value="female">female</option>                              
                                
                                </select>
                                </div>



                                <div class="form-group" id>
                                    <label class="form-control-label">upload image</label>
                                    <input type="file" name="image" value="file" class="form-control" required>
                                </div>
                                <button class="btn btn-block btn-primary form-control" type="submit">submit</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
<script src="/public/static/jquery2.min.js"></script>
<script src="/public/static/moment.js"></script>
<script src="/public/static/datetimepicker.min.js"></script>
<link rel="stylesheet" href="/public/static/bootstrap-datetimepicker.css">

<script>
    $(function() {
        $('#date').datetimepicker({
            format: 'yyyy/MM/DD hh:mm A',
            defaultDate: new Date(),
            minDate: new Date(2019, 10 - 1, 25),
            maxDate: new Date(),
            ignoreReadonly: true
        });
    })
</script>
<script>
    $('form').submit(function() {
        var valid = true;
        $('input').each(function(i, el) {
            if (valid && $(el).val() === '' || errorMsg.innerHTML) valid = false;
            $('#message1').html('Please fill all field').css('color', 'red');

        });

        return valid;
    });
</script>




</html>