<section style="background: url('/public/img/8a8d6277-f280-4f05-bfed-5d0edf5e6006istockphoto-184344585-612x612.jpg');">

    <p>Hello {{username}},</p>

    <p>You were ceated for a new account in the dairy farm mnagement system.Please click <a href={{link}}><strong>here</strong></a> <b>to login into your account</b>. Your password is <strong>{{password}}</strong> and you can change once logged in. If this
        is a stray message, then you can simply ignore this email.</p>


    <p>Best regards,</p>
    <p>godwill</p>
    <p>godwillkisia5@gmail.com</p>

</section>