{% include 'headers/headers.html' %}{% include '/headers/adminnav.html'%}


<body class="bg-dark" style="background-image: url('public/static/images/cowvaccination.jpg'); background-size:cover; background-blend-mode:overlay">
    <div style="opacity:0.9">
        <div>
            <h1 class="text-center">DAIRY FARM MANAGEMENT SYSTEM</h1>
        </div>
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <div class="card-title">
                                <h2>HEALTH RECORDS</h2>
                            </div>
                        </div>
                        <div class="text-center"> {% with messages = get_flashed_messages(with_categories=true) %} {% for category, message in messages %}
                            <div class="{{ category }}">{{ message }}</div>
                            {% endfor %} {%endwith%} </div>
                        <div class="card-body">
                            <form action="{{url_for('health')}}" method="post">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="national_id">cow_tag_id</label>
                                        <input type="text" class="form-control" name="cow_tag_id" placeholder="cow tag id" required>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label for="cow_breed">vaccine name</label>
                                        <select name="vaccine_name" class="form-select form-select-lg" id="" required>
                                            <option value=""> vaccine name</option>
                                            {% for item in vaccine %}
                                                <option value="{{item.vaccine_name}}">{{item.vaccine_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-control-label">disease treated</label>
                                        <input type="text" class="form-control" placeholder="disease treated" name="disease_treated">
                                    </div>



                                    <div class="form-group col-md-6">
                                        <label class="form-control-label">date of vaccination</label>
                                        <div class='input-group date' id='datetimepicker2'>
                                            <input name="date_of_vaccination" type='text' id="date" class="form-control" readonly required/>
                                            <span class="input-group-addon">
                                         <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-control-label">treatement duration in days</label>
                                        <input type="number" min="1" class="form-control" placeholder="treatement duration" name="treatment_duration">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="form-control-label">weight</label>
                                        <input type="number" min="1" class="form-control" placeholder="weight" name="weight">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-control-label">prescription(ml)</label>
                                        <input type="number" min="1" class="form-control" placeholder="prescription" name="prescription">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="form-control-label">vet name</label>
                                        <input type="text" pattern="[A-Za-z\\s]*" class="form-control" placeholder="vet name" name="vet_name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Vet national id</label>
                                    <input type="number" min="1" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" minlength="7" maxlength="8" class="form-control" placeholder="vet national id" name="vet_id">
                                </div>



                                <button class="btn btn-block btn-primary form-control" type="submit">submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/public/static/jquery2.min.js"></script>
    <script src="/public/static/moment.js"></script>
    <script src="/public/static/datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/public/static/bootstrap-datetimepicker.css">

    <script>
        $(function() {

            $('#date').datetimepicker({
                format: 'yyyy/MM/DD hh:mm A',
                minDate: new Date() - 2 * 24 * 60 * 60 * 1000,
                maxDate: new Date(),
                ignoreReadonly: true,
                defaultDate: new Date()


            });
        })
    </script>
    <script>
        $('form').submit(function() {
            var valid = true;
            $('input').each(function(i, el) {
                if (valid && $(el).val() === '' || errorMsg.innerHTML) valid = false;
                $('#message1').html('Please fill all field').css('color', 'red');

            });

            return valid;
        });
    </script>
    {% include 'headers/footers.html' %}