{% include 'headers/headers.html' %}{% include '/headers/adminnav.html'%}


<body class="container-fluid bg-dark" style="background-image: url('/public/static/images/istockphoto-1297005217-612x612.jpg'); background-size:cover;background-blend-mode:overlay; height:100vh">
    <div style="opacity:0.9">
        <div>
            <h1 class="text-center">DAIRY FARM MANAGEMENT SYSTEM</h1>
        </div>
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <div class="card-title">
                                <h2>INSEMINATION RECORD</h2>
                            </div>
                        </div>
                        <div class="text-center"> {% with messages = get_flashed_messages(with_categories=true) %} {% for category, message in messages %}
                            <div class="{{ category }}">{{ message }}</div>
                            {% endfor %} {%endwith%} </div>
                        <div class="card-body">

                            <form action="{{url_for('inseminationrecord')}}" method="post">
                                <div class="row">
                                    <div class="form-group w-50">
                                        <label class="form-control-label">Cow Tag Id</label>
                                        <input type="text" class="form-control" name="cow_tag_id" placeholder="cow tag id">

                                    </div>

                                    <div class="form-group w-50">
                                        <label class="form-control-label">date of insemination</label>
                                        <div class='input-group date'>
                                            <input name="date_of_insemination" type='text' id="dateofinsemination" class="form-control" readonly/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group w-50">
                                        <label class="form-control-label" for="breed">Breed</label>
                                        <select name="breed" id="breed" class="form-select form-select-lg">
                                            <option value="">select breed</option>
                                            {% for item in breed  %}
                                            <option value="{{item.breed}}">{{item.breed}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group w-50">
                                        <label class="form-control-label" for="sperm_dose">Sperm Dose</label>
                                        <input type="number" min="1" class="form-control" name="sperm_dose" placeholder="sperm dose">
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group w-50">
                                        <label class="form-control-label" for="insemination_officer">Insemination Officer</label>
                                        <input type="text" class="form-control" pattern="[A-Za-z\\s]*" name="insemination_officer" placeholder="insemination officer">
                                    </div>

                                    <div class="form-group w-50">
                                        <label class="form-control-label" for="no_of_inseminations">Number Of Insemination Per Conception</label>
                                        <input type="number" min="1" class="form-control" name="no_of_inseminations" placeholder="number of inseminations">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group w-50">
                                        <label class="form-control-label" for="insemination_officer_id">Insemination Officer Id</label>
                                        <input type="number" min="1" minlength="7" maxlength="8" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="form-control" pattern="[0-9]*" id="insemination_officer_id" name="insemination_officer_id"
                                            placeholder="insemination officer id">
                                        <span id="message1"></span>
                                    </div>

                                    <div class="form-group w-50">
                                        <label class="form-control-label">Age at insemination</label>
                                        <input type="number" class="form-control" min="1" name="age_at_insemination" placeholder="age at insemination">
                                    </div>
                                    <div class="form-group w-100">


                                        <label class="form-control-label">Inasemination officer phone number</label><br>
                                        <input type="tel" id="phone" pattern="[0-9]{10}" min="1" onchange="myFunction()" maxlength="10" class="form-control" name="insemination_officer_contact" required>

                                        <p class="hide" id="result"></p>

                                    </div>
                                </div>

                                <input class="btn btn-primary btn-block" value="submit" type="submit" \>




                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="/public/static/jquery2.min.js"></script>
    <script src="/public/static/moment.js"></script>
    <script src="/public/static/datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/public/static/bootstrap-datetimepicker.css">

    <script>
        $(function() {

            $('#dateofinsemination').datetimepicker({
                format: 'yyyy/MM/DD hh:mm A',
                defaultDate: new Date(),
                maxDate: new Date(),
                minDate: new Date() - 2 * 24 * 60 * 60 * 1000,
                ignoreReadonly: true

            });
        })
    </script>
    <script>
        $('form').submit(function() {
            var valid = true;
            $('input').each(function(i, el) {
                if (valid && $(el).value === '' || errorMsg.innerHTML) valid = false;
                $('#message1').html('Please fill all field').css('color', 'red');

            });

            return valid;
        });
    </script>

    <script>
        var input = document.querySelector("#phone"),
            errorMsg = document.querySelector("#result"),
            validMsg = document.querySelector("#result");

        // here, the index maps to the error code returned from getValidationError - see readme
        var errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];

        // initialise plugin
        var iti = window.intlTelInput(input, {
            utilsScript: "/public/static/js/utils.js",
            initialCountry: "ke",
        });

        var reset = function() {
            input.classList.remove("error");
            errorMsg.innerHTML = "";
            errorMsg.classList.add("hide");
            validMsg.classList.add("hide");
        };

        // on blur: validate
        input.addEventListener('blur', function() {
            reset();
            if (input.value.trim()) {
                if (iti.isValidNumber()) {
                    validMsg.classList.remove("hide");
                } else {
                    input.classList.add("error");
                    var errorCode = iti.getValidationError();
                    errorMsg.innerHTML = errorMap[errorCode];
                    errorMsg.classList.remove("hide");


                }
            }
        });

        // on keyup / change flag: reset
        input.addEventListener('change', reset);
        input.addEventListener('keyup', reset);
    </script>
    <script>
        $('form').submit(function() {
            // check if input is bigger than 3
            $('#message1').html('');
            var value = document.getElementById('insemination_officer_id').value;
            var message = document.getElementById('message1');
            if (value.length < 7 || value.length > 8) {
                $('#message1').html('enter a valid national id').css('color', 'red');
                return false; // keep form from submitting
            }
        });
    </script>

    {% include 'headers/footers.html' %}