{% include 'headers/headers.html' %} {% include 'headers/headers.html' %}

<div class="text-center">
    <div style="opacity: 0.9;">
        <h1>DAIRY MANAGEMENT SYSTEM</h1>
    </div>
</div>

<body class="bg-dark container-fluid" style="background-image: url('/public/static/images/cow.jpg'); background-size:cover ;height: 100%;background-position: center; background-blend-mode: overlay; background-repeat: no-repeat;height:100vh;">
    <div style="opacity: 0.9">

        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3 ">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title text-center">
                            </div>
                        </div>
                        {% for message in get_flashed_messages() %} {{ message }} {% endfor %}
                        <div class="card-body">
                            {% if user=='user' %}
                            <form class="p-3" action="{{ url_for('login')}}" method="post"> {% elif user=='superadmin' %}
                                <form class="p-3" action="{{ url_for('superadmin')}}" method="post"> {% elif user=='admin'%}
                                    <form class="p-3" action="{{ url_for('adminlogin')}}" method="post"> {% endif %}

                                        <div class="form-group">
                                            <label class="form-control-label">Username</label>
                                            <div class="input-group">
                                                <input type="text" name="username" placeholder="Username" class="form-control">
                                                <span class="input-group-btn">
                                                <span class="btn btn-primary"><i  class=" fa fa-user"></i></span>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label">Password</label>
                                                <div class="input-group">
                                                    <input id="password" type="password" name="password" placeholder="Password" class="form-control">
                                                    <span class="input-group-btn">
                                                    <span class="btn btn-primary"><i id="pass-status"  class=" fa fa-lock" aria-hidden="true" onClick="viewPassword()"></i></span>
                                                </div>

                                            </div>
                                        </div>

                                        <input type="submit" value="submit" class="btn btn-primary btn-block">
                                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    {% include 'headers/footers.html' %}
    <script>
        function viewPassword() {
            var passwordInput = document.getElementById('password');
            var passStatus = document.getElementById('pass-status');

            if (passwordInput.type == 'password') {
                passwordInput.type = 'text';
                passStatus.class = 'fa fa-eye-slash';

            } else {
                passwordInput.type = 'password';
                passStatus.class = 'fa fa-eye';
            }
        }
    </script>

    </html>