{% include 'headers/headers.html' %} {% include 'headers/headers.html' %}

<div class="text-center">
    <div style="opacity: 0.9;">
        <h1>DAIRY MANAGEMENT SYSTEM</h1>
    </div>
</div>

<body class="bg-dark container-fluid" style="background-image: url('/public/static/images/cow.jpg'); background-size:cover ;height: 100%;background-position: center; background-blend-mode: overlay; background-repeat: no-repeat;height:100vh;">
    <div style="opacity: 0.9">

        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3 ">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title text-center">
                            </div>
                        </div>
                        {% for message in get_flashed_messages() %} {{ message }} {% endfor %}
                        <div class="card-body">
                            <form action="{{url_for('milk_sales')}}" method="POST">
                                <div class="form-group">
                                    <label for="transaction_code">Enter transaction code:</label>
                                    <input type="text" class="form-control" name="transaction_code" placeholder="transaction_code">
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        {% include 'headers/footers.html' %}

        </html>