<section style="background: url('/public/img/8a8d6277-f280-4f05-bfed-5d0edf5e6006istockphoto-184344585-612x612.jpg');">

    <p>Hello {{username}},</p>

    <p> We highly appreciate and value your concern to purchase a cow from our farm. We are however sorry to let you know that the purchase did not go through because {{message}}, and you will be <b>refunded the money paid to us via Mpesa within 24 hours.</b>
    </p>
    <p>
        We sincerely apologize for any inconviniences.
    </p>
    <p>Best,</p>
    <p>godwill</p>
    <p>godwillkisia5@gmail.com</p>

</section>