{% include 'headers/headers.html' %}{% if 'admin' in session %} {% include 'headers/adminnav.html' %} {% elif 'superadmin' in session %} {% include 'headers/adminnav.html' %}{% elif 'manager' in session %} {% include 'headers/adminnav.html' %} {% endif
%}

<!--NAVIGATION BAR FOR ADMIN-->

<br class="mt-5">
<header id="main-header" class=" container py-2 bg-primary text-white">
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center"><i class="fa fa-users"></i> Users</h1>
            </div>
        </div>
    </div>
</header>

<section id="actions" class="py-4 mb-4 ">
    <div class="container">
        <div class="row ">

            <div class="col-md-6">
                <form action="{{url_for('search_users')}}" method="POST">
                    <input name="flag" id="" value="farmers" type="text" hidden>
                    <div class="input-group">
                        <input name="search" id="search" type="text" class="form-control" name="start" placeholder="Search User by First Name, Last Name, username, E-mail, gender" required>
                        <span class="input-group-btn">
                <input type="submit" value="search" class="btn btn-primary btn-block">
              </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



<!-- USERS -->
<section>
    <div onLoad="JavaScript:timeRefresh(60000);" class="container">
        <div class="row">



            <div class="col">
                <div class="card">
                    <div id="dvContainer">
                        <div class="card-header">
                            <h4>Users</h4>
                        </div>
                        <table class="table table-striped">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>Name</th>
                                    <th>User name</th>
                                    <th>Email</th>
                                    <th>phone number</th>
                                    <th>Gender</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for user in farmers.items %}


                                <tr>
                                    <td>{{user.first_name }} {{user.last_name}}</td>
                                    <td>{{user.username}}</td>

                                    <td><a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to={{user.email}}">{{user.email }}</a></td>
                                    <td>{{user.phone_number}}</td>
                                    <td>{{user.gender}}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>

        </div>
        <div class="col-md-12 card">
            <nav class="mx-auto mb-2 text-center">
                <ul class="pagination">
                    {% if farmers.has_prev %}
                    <li class="page-item">
                        <a href="{{ url_for('view', page=farmers.prev_num)}}">Previous</a>
                    </li>
                    {% endif %}
                    <!-- all page numbers -->
                    {% for page_num in farmers.iter_pages() %} {% if page_num %} {% if page_num != farmers.page %}
                    <li class="page-item">
                        <a href="{{ url_for('farmer', page=page_num) }}">{{ page_num }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="active" href="#">{{ page_num }}</a>
                    </li>
                    {% endif %} {% else %}
                    <li class="page-item">
                        <span class="ellipsis" style="white-space:nowrap; overflow: hidden; text-overflow:ellipsis">…</span>
                    </li>
                    {% endif %} {% endfor %}
                    <!-- next page -->
                    {% if farmers.has_next %}
                    <li class="page-item">
                        <a href="{{ url_for('farmer', page=farmers.next_num)}}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</section>



{% include 'headers/footers.html' %}