{% include 'headers/headers.html' %} {% include 'headers/usernav.html' %}


<body class="bg-dark container" style="background-image: url('/public/static/images/cow.jpg'); background-size:cover ;height: 100%;background-position: center; background-blend-mode: overlay; background-repeat: no-repeat;height:100vh;">
    <div style="opacity: 0.9">
        <section class="container">
            <div class="">
                <div class="row justify-content-center">

                    <div class="col" mr-auto>
                        <a href="" class="btn btn-primary btn-block" data-target="#updaterecordsmodal" data-toggle="modal">
                            <i fa fa-pen></i>update details </a>
                    </div>
                    <div class="col" mr-auto>
                        <a href="#" onclick="myFunctions()" class="btn btn-primary btn-block" data-target="#ordermilkmodal" data-toggle="modal">
                            <i></i>order milk
                        </a>
                    </div>
                    <div class="col" mr-auto>
                        <a href="#" style="text-decoration: none;" data-target="#choicemodal" data-toggle="modal" class="btn btn-primary btn-block">
                            <i></i>view cows
                        </a>
                    </div>
                    <div class="col" mr-auto>
                        <a href="#" class="btn btn-danger btn-block" data-target="#changepasswordmodal" data-toggle="modal">
                            <i></i>change password
                        </a>
                    </div>

                </div>
            </div>
        </section>
        <div class="text-center"> {% with messages = get_flashed_messages(with_categories=true) %} {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
            {% endfor %} {%endwith%} </div>
        <div class="text-center col-md-2 offset-md-5 mt-2"> <input type="button" class="btn btn-primary btn-block" onclick="viewTransactions()" value="view transactions" id="show" /> </div><br>
        <section class="container mt-5" id="transactions" hidden>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center"> RECENT TRANSACTIONS</h2>

                        </div>
                        {% include 'tables.html' %}
                    </div>
                </div>
            </div>
        </section>

    </div>

    <section>
        <!-- <link rel="stylesheet" href="/public/static/bootstrap.min.css"> -->
        <div class="modal fade" id="updaterecordsmodal">
            <div class="modal-dialog modal-lg bg-primary">
                <div class="modal-content">
                    <div class="modal-header text-white bg-primary">
                        <h1 class="modal-title" id="updaterecordsslabel">update details</h1>
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="{{url_for('update_farmer_details')}}" method="POST">
                            <div class="form-group">
                                <label class="form-control-label">first name</label>
                                <input type="text" pattern="[A-Za-z\\s]*" class="form-control" value="{{farmer.first_name}}" name="first_name" placeholder="first name">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">last name</label>
                                <input type="text" pattern="[A-Za-z\\s]*" class="form-control" value="{{farmer.last_name}}" name="last_name" placeholder="last name">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">other name</label>
                                <input type="text" pattern="[A-Za-z\\s]*" class="form-control" value="{{farmer.other_names}}" name="other_names" placeholder="other names">
                            </div>
                            {#
                            <div class="form-group">
                                <label class="form-control-label">username</label>
                                <input type="text" class="form-control" value="{{farmer.username}}" name="username" placeholder="other names">
                            </div> #}
                            <div class="form-group">
                                <label class="form-control-label">phone number</label>
                                <input type="tel" id="phone" class="form-control w-100" pattern="[0-9]*" minlength="10" maxlength="10" value="{{farmer.phone_number}}" name="phone_number">
                                <p class="hide" id="result"></p>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">email address</label>
                                <input type="email" class="form-control" value="{{farmer.email}}" name="email_address" placeholder="email address">
                            </div>
                            <input type="text" value="{{farmer.username}}" id="username" hidden>
                            <button type="submit" class="btn btn-primary btn-block">submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="modal fade" id="changepasswordmodal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header text-center text-white bg-danger">
                        <h2 class="modal-title" id="changepasswordlabel">Change password</h2>
                        <button type="button" data-dismiss="modal" class="close">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="{{url_for('changepassword')}}" method="POST">
                            <div class="form-group">
                                <label class="form-group-label">Old password</label>
                                <input type="password" name="old_password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-group-label">New password</label>
                                <input type="password" minlength="6" name="new_password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-group-label">Confirm password</label>
                                <input type="password" minlength="6" name="confirm_password" class="form-control">
                            </div>
                            <input type="submit" value="Change" class="btn btn-primary btn-block" />
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </section>




    <!-- jQuery library -->
    <script src="/public/static/jquery3.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/public/static/bootstrap3.min.js"></script>




    <script>
        var input = document.querySelector("#phone"),
            errorMsg = document.querySelector("#result"),
            validMsg = document.querySelector("#result");

        // here, the index maps to the error code returned from getValidationError - see readme
        var errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];

        // initialise plugin
        var iti = window.intlTelInput(input, {
            utilsScript: "/public/static/js/utils.js",
            initialCountry: "ke"
        });

        var reset = function() {
            input.classList.remove("error");
            errorMsg.innerHTML = "";
            errorMsg.classList.add("hide");
            validMsg.classList.add("hide");
        };

        // on blur: validate
        input.addEventListener('blur', function() {
            reset();
            if (input.value.trim()) {
                if (iti.isValidNumber()) {
                    validMsg.classList.remove("hide");
                } else {
                    input.classList.add("error");
                    var errorCode = iti.getValidationError();
                    errorMsg.innerHTML = errorMap[errorCode];
                    errorMsg.classList.remove("hide");
                }
            }
        });

        // on keyup / change flag: reset
        input.addEventListener('change', reset);
        input.addEventListener('keyup', reset);
    </script>



    <script>
        function viewTransactions() {
            var transactions = document.getElementById('transactions');
            var show = document.getElementById('show');

            if (transactions.hidden == true) {
                transactions.hidden = false;
                show.value = 'hide transactions'
            } else {

                transactions.hidden = true;
                show.value = 'show transactions'
            }
        }
    </script>
    <script>
        $('form').submit(function() {
            if (errorMsg.innerHTML) return false;
            console.log($("#message").html())


        });
    </script>


    <script>
        $(document).ready(function() {
            myFunction()
        });

        function myFunction() {




            const url = location.protocol + '//' + location.host + '/user_s';
            (fetch(url).then(response => response.json()).then(json => {
                one(JSON.parse(json))

            }));

        }

        function one(data) {
            var username = document.querySelector("#username");
            var phone = document.querySelector("#phone");
            for (var i = 0; i < data.length; i++) {
                if (username.value.toLowerCase() == data[i].username.toLowerCase()) {
                    var el = document.getElementById("phone");
                    el.value = data[i].phone_number
                    el.value.replace(/\s/g, "")
                }
            }

        }
    </script>
    {% include 'headers/footers.html' %}